In [3]:
import pandas as pd

In [2]:
a=3
b=5
c=a+b
print(c)

8

In [6]:
x=abs(-7.35)
print(x)

7.35

In [8]:
y=abs(4.5)
print(y)

4.5

In [11]:
x = abs(3+5j)
print(x)

5.830951894845301

In [19]:
mylist = [True, True,False]
x = all(mylist)
print(x)

False

In [30]:
mydict = {1 : "Apple", 1 : "Orange"}
x = all(mydict)
print(mydict)

{1: 'Orange'}

In [34]:
x = ascii("My name is St√•le")
print(x)

'My name is St\xe5le'

In [7]:
x = 5
y = "John"
print(x,x,x,y)
print(y)

5 5 5 John
John

In [1]:
class student:
        def __init__(self, roll, name):
                self.r = roll
                self.n = name
                print ((self.n))

In [4]:
stud1 = student(1, "Alex")
stud2 = student(2, "Karlos")
stud3 = student(3, "John")

Alex
Karlos
John

In [20]:
import re
list = [ "mouse", "cat", "dog", "no-match"]
# Loop starts here
for i in list:
    m = re.match("(d\w+) \W(d/w+)" , i)
# Check for matching
if m:
    print (m . groups ( ))

In [23]:
n = 50 #Store 50 as value into variable n.
#Store 50 as value into variable n
print(n)

50

In [5]:
"""
Author: www.w3schools.in
Description:
Writes the words Hello World on the screen
"""

'\nAuthor: www.w3schools.in\nDescription:\nWrites the words Hello World on the screen\n'

In [35]:
"""Author: www.w3schools.in
    jsdfk"""

'Author: www.w3schools.in\n    jsdfk'

In [7]:
a=1
b=4
if a==1:
    print(a)
    if b==2:
        print(b)
print('end')

1
end

In [11]:
n="neeraj"
print(n)

neeraj

In [57]:
a=5%3
print(a)

2

In [61]:
a=16
b=a**0.5
print(b)

4.0

In [64]:
a=2
b=a**5
print(b)

32

In [66]:
b=20//3
print(b)

6

In [1]:
a=5
a%=3
print(a)

2

In [26]:
L = [1, "a" , "string" , 1+2]

In [27]:
L.pop(3)
print(L)

[1, 'a', 'string']

In [38]:
L=["John", "Adam", "Smith", "Richard", "Willsky"]
for x in L:
        if x=="Richard":
         break
        else:
            print(x)

John
Adam
Smith

In [40]:
i = 1
while (i < 10): 
    print(i) 
    i += 1

1
2
3
4
5
6
7
8
9

In [48]:
def checkDivisibility(a, b): 
    if a % b == 0 : 
        print (" 'a' is divisible by b")
    else: 
        print (" 'a' is not divisible by b")

In [50]:
checkDivisibility(8,3)

 'a' is not divisible by b

In [61]:
L=["neeraj","pankaj",1,234,"ok12"]
print(L)

['neeraj', 'pankaj', 1, 234, 'ok12']

In [64]:
L.remove(1)
print(L)

['neeraj', 'pankaj', 234, 'ok12']

In [1]:
L.pop(2)
print(L)

NameError: name 'L' is not defined

In [1]:
s2 = "Dog is an animal."
s1 = "is"
x = s1 in s2
if x :     
 print("Pattern Found in step 1")   #return this if x=True
else : print("Patten Not Found")
p = s1 not in s2

print(x)
print(p)

Pattern Found in step 1
True
False

In [1]:
print(x)

NameError: name 'x' is not defined

In [13]:
p=complex(input("enter any no."))
print(type(p))

enter any no.12
<class 'complex'>

In [14]:
a="sahil"
a[0]=="s"

True

In [36]:
a = 10
b = 20
c = 30

print(str(a)+"-"+ str(b) +"-"+ str(c))
print(a+b+c)

10-20-30
60

In [35]:
a = "sahil"
b = 20
c = 30

#print(str(a) + "-" + str(b) + "-" + str(c))
print("{}-{}-{}".format(a,b,c))

sahil-20-30

In [41]:
s = "Python"
#indexing in strings
print(s[4])
print(s[-3])

o
h

In [44]:
p="neerajkumarsuryawanshi"
print(p[4])
print(p[-6])

a
w

In [20]:
s = "Hello World!123"
print(s[::-1])
print(s[::1])
print(s[:-1])
print(s[7:10])
print(s[-12:-6])
print(s[-1:-13:-1])
print(s[::2])
print(s[::-2])
print(s[2:5])
print(s[:-4])
print(s[:4])
print(s[0:-5])

321!dlroW olleH
Hello World!123
Hello World!12
orl
lo Wor
321!dlroW ol
HloWrd13
31drWolH
llo
Hello World
Hell
Hello Worl

In [15]:
s = "Hello World!123"
print(s[5:-2])

 World!1

In [6]:
import pandas as pd

In [10]:
df1=pd.read_excel(r"C:\Users\surya\Neeraj\python\Practice dataset\data1.xlsx")

In [19]:
df2=pd.read_excel(r"C:\Users\surya\Neeraj\python\Practice dataset\data2.xlsx")

In [21]:
df1.head()

   sno     Name  Age Size
0    1  Prakhar   10    L
1    2  Deepika   20    L
2    3   Neeraj   30    M
3    4   Pankaj   40    M
4    5     Sonu   50   XL

In [23]:
df2

   sno     Name      City
0    1  Prakhar       cwa
1    2  Deepika       gwa
2    3   Neeraj    mysore
3    4   Pankaj  Hyderaba
4    5     Sonu     Panji

In [33]:
df3=pd.merge(df1,df2,on='Name')
print(df3)

   sno_x     Name  Age Size  sno_y      City
0      1  Prakhar   10    L      1       cwa
1      2  Deepika   20    L      2       gwa
2      3   Neeraj   30    M      3    mysore
3      4   Pankaj   40    M      4  Hyderaba
4      5     Sonu   50   XL      5     Panji

In [1]:
df3.shape[0

SyntaxError: unexpected EOF while parsing (<ipython-input-1-5ba7fa70aa8e>, line 1)

In [4]:
list

list

In [9]:
import pandas as pd

In [10]:
df5=pd.read_excel(r"C:\Users\surya\Neeraj\python\Practice dataset\insurance.xlsx")

In [11]:
df5.head()

   s.no.  age     sex     bmi  children smoker     region      charges
0      1   19  female  27.900         0    yes  southwest  16884.92400
1      2   18    male  33.770         1     no  southeast   1725.55230
2      3   28    male  33.000         3     no  southeast   4449.46200
3      4   33    male  22.705         0     no  northwest  21984.47061
4      5   32    male  28.880         0     no  northwest   3866.85520

In [12]:
df5.describe()

             s.no.          age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000  1338.000000   1338.000000
mean    669.500000    39.207025    30.663397     1.094918  13270.422265
std     386.391641    14.049960     6.098187     1.205493  12110.011237
min       1.000000    18.000000    15.960000     0.000000   1121.873900
25%     335.250000    27.000000    26.296250     0.000000   4740.287150
50%     669.500000    39.000000    30.400000     1.000000   9382.033000
75%    1003.750000    51.000000    34.693750     2.000000  16639.912515
max    1338.000000    64.000000    53.130000     5.000000  63770.428010

In [13]:
df6=df5.head()

In [27]:
print(df6)

   s.no.  age     sex     bmi  children smoker     region      charges
0      1   19  female  27.900         0    yes  southwest  16884.92400
1      2   18    male  33.770         1     no  southeast   1725.55230
2      3   28    male  33.000         3     no  southeast   4449.46200
3      4   33    male  22.705         0     no  northwest  21984.47061
4      5   32    male  28.880         0     no  northwest   3866.85520

In [14]:
df6.to_excel(r"C:\Users\surya\Neeraj\python\Practice dataset\insurance12.xlsx")

In [8]:
a=64
b=a**(1/2)
print(b)

8.0

In [2]:
a=64
b=a**0.5
print(b)

8.0

In [9]:
for i in range (0,15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [10]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [16]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
           print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [1]:
x = 5
y = "Hello, World!"
print("HI neeraj\n  how are u")

HI neeraj
  how are u

In [7]:
a=5
b=3
if a==1:
    print(a)
if b==2:
    print(b)
print('end')

end

In [12]:
AND=5
print(AND)

5

In [19]:
a=5%2
print(a)

1

In [24]:
a=5//2
print(a)

2

In [1]:
import pandas as pd

In [20]:
df=pd.read_excel(r"C:\Users\surya\Neeraj\python\Practice dataset\pandas\data fsds -20220724T095026Z-001\data fsds\Attribute DataSet.xlsx")

In [10]:
type(df)

pandas.core.frame.DataFrame

In [21]:
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [24]:
df1=pd.read_excel(r"C:\Users\surya\Neeraj\python\Practice dataset\pandas\data fsds -20220724T095026Z-001\data fsds\Attribute DataSet.xlsx",sheet_name="Sheet2",header=None,names=["A","B"])

In [25]:
df1

           A  B
0       dkdf  3
1  dfdmjfdsf  1
2  jldsjpods  2
3    dfkdlfd  2
4     dfdkdf  2
5    fdfdlfd  2

In [28]:
df2=pd.read_csv(r'C:\Users\surya\Neeraj\python\Practice dataset\pandas\data fsds -20220724T095026Z-001\data fsds\haberman.csv')

In [29]:
df2.head

<bound method NDFrame.head of      30  64   1  1.1
0    30  62   3    1
1    30  65   0    1
2    31  59   2    1
3    31  65   4    1
4    33  58  10    1
..   ..  ..  ..  ...
300  75  62   1    1
301  76  67   0    1
302  77  65   3    1
303  78  65   1    2
304  83  58   2    2

[305 rows x 4 columns]>

In [30]:
df3=pd.read_csv(r'C:\Users\surya\Neeraj\python\Practice dataset\pandas\data fsds -20220724T095026Z-001\data fsds\haberman.csv',header=None,names=["Age","yearof_operation","number of postivie","survival_status=1"])

In [31]:
df3.head

<bound method NDFrame.head of      Age  yearof_operation  number of postivie  survival_status=1
0     30                64                   1                  1
1     30                62                   3                  1
2     30                65                   0                  1
3     31                59                   2                  1
4     31                65                   4                  1
..   ...               ...                 ...                ...
301   75                62                   1                  1
302   76                67                   0                  1
303   77                65                   3                  1
304   78                65                   1                  2
305   83                58                   2                  2

[306 rows x 4 columns]>

In [39]:
df4=pd.read_html(r"https://www.basketball-reference.com/teams")

In [41]:
df4[0]

,Franchise,Lg,From,To,Yrs,G,W,L,W/L%,Plyfs,Div,Conf,Champ
0,Atlanta Hawks,NBA,1949-50,2022-23,74,5773,2850,2923,0.494,48,12,0,1
1,Atlanta Hawks,NBA,1968-69,2022-23,55,4355,2152,2203,0.494,35,6,0,0
2,St. Louis Hawks,NBA,1955-56,1967-68,13,1005,553,452,0.550,12,6,0,1
3,Milwaukee Hawks,NBA,1951-52,1954-55,4,281,91,190,0.324,0,0,0,0
4,Tri-Cities Blackhawks,NBA,1949-50,1950-51,2,132,54,78,0.409,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,Washington Bullets,NBA,1974-75,1996-97,23,1886,887,999,0.470,13,2,3,1
81,Capital Bullets,NBA,1973-74,1973-74,1,82,47,35,0.573,1,1,0,0
82,Baltimore Bullets,NBA,1963-64,1972-73,10,813,401,412,0.493,7,4,1,0
83,Chicago Zephyrs,NBA,1962-63,1962-63,1,80,25,55,0.313,0,0,0,0
84,Chicago Packers,NBA,1961-62,1961-62,1,80,18,62,0.225,0,0,0,0

In [36]:
type

type

In [37]:
type(df4)

list

In [43]:
df5=pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")

In [44]:
df5.head()

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app,state_reason
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47834,1315766705,PR_kwDOAA0YD847_P6c,47834,DEPR: inplace keyword for Categorical.set_orde...,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47833,1315747437,PR_kwDOAA0YD847_MdV,47833,DOC: added type annotations and tests to check...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #47829 \r\n- [x] Added [type anno...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/47832,1315745290,I_kwDOAA0YD85ObK4K,47832,BUG: Out of bound dates can be saved to feathe...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47831,1315742847,PR_kwDOAA0YD847_LmP,47831,TYP: pandas/io annotations from pandas-stubs,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Copied annotations from pandas-stubs when pand...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/47830,1315736481,I_kwDOAA0YD85ObIuh,47830,DOC: repurpose `Styler` as a general display t...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN

In [45]:
df=pd.read_excel(r"C:\Users\surya\Neeraj\python\Practice dataset\pandas\data fsds -20220724T095026Z-001\data fsds\Attribute DataSet.xlsx")

In [51]:
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [52]:
df.to_json("test1.json")

In [53]:
pwd

'C:\\Users\\surya'

In [54]:
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [56]:
df.to_csv(r"c:\\Users\\surya\Neeraj\dresscode.csv")

In [57]:
df.to_csv(r"c:\\Users\\surya\Neeraj\dresscode1.csv",index=False)

In [58]:
"""Mysql
    
    1. Create a  table attribute dataset and dress dataset
    2. Do a bulk load for these two table for respective dataset 
    3. read these dataset in pandas as a dataframe 
    4. Convert attribute dataset in json format 
    5. Store this dataset into mongodb
    6. in sql task try to perform left join operation with attrubute dataset and dress dataset on column Dress_ID
    7. Write a sql query to find out how many unique dress that we have based on dress id 
    8. Try to find out how mnay dress is having recommendation 0
    9. Try to find out total dress sell for individual dress id 
    10. Try to find out a third highest most selling dress id
"""

SyntaxError: invalid syntax (<ipython-input-58-8914824dc129>, line 1)

In [1]:
import pandas as pd

In [10]:
df2=pd.read_csv(r"C:\Users\surya\Neeraj\python\Practice dataset\pandas\data fsds\haberman.csv",header=None,names=["age","Year_of_operation","No.of positive","survivalstatus"])

In [11]:
df2.head()

   age  Year_of_operation  No.of positive  survivalstatus
0   30                 64               1               1
1   30                 62               3               1
2   30                 65               0               1
3   31                 59               2               1
4   31                 65               4               1

In [6]:
file1.to_csv(r"C:\Users\surya\Neeraj\python\Practice dataset\pandas\data fsds\haberman1.csv")

In [1]:
import pandas as pd

In [15]:
df=pd.read_csv(r"C:\Users\surya\Neeraj\python\Practice dataset\pandas\data fsds\haberman1.csv",sep="@",index_col=None)

In [17]:
df.to_csv(r"C:\Users\surya\Neeraj\python\Practice dataset\pandas\data fsds\haberman5.csv")

In [2]:
df1=pd.read_csv(r"C:\Users\surya\Neeraj\python\Practice dataset\pandas\data fsds\sales_data_final.csv")

In [3]:
df1.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,01-01-2011,01-06-2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.0,106.140,35.46,Medium,2011
1,IN-2011-47883,01-01-2011,01-08-2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.036,9.72,Medium,2011
2,HU-2011-1220,01-01-2011,01-05-2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66,4,0.0,29.640,8.17,High,2011
3,IT-2011-3647632,01-01-2011,01-05-2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.055,4.82,High,2011
4,IN-2011-47883,01-01-2011,01-08-2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.770,4.70,Medium,2011

In [4]:
type(df1)

pandas.core.frame.DataFrame

In [5]:
type([df1])

list

In [7]:
df1.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year'],
      dtype='object')

In [8]:
df1[['order_id','customer_name']]

              order_id     customer_name
0         AG-2011-2040   Toby Braunhardt
1        IN-2011-47883       Joseph Holt
2         HU-2011-1220     Annie Thurman
3      IT-2011-3647632      Eugene Moren
4        IN-2011-47883       Joseph Holt
...                ...               ...
51285   CA-2014-115427        Erica Bern
51286     MO-2014-2560         Liz Preis
51287   MX-2014-110527  Charlotte Melton
51288   MX-2014-114783     Tamara Dahlen
51289   CA-2014-156720     Jill Matthias

[51290 rows x 2 columns]

In [9]:
df1.describe()

           quantity      discount        profit  shipping_cost          year
count  51290.000000  51290.000000  51290.000000   51290.000000  51290.000000
mean       3.476545      0.142908     28.641740      26.375915   2012.777208
std        2.278766      0.212280    174.424113      57.296804      1.098931
min        1.000000      0.000000  -6599.978000       0.000000   2011.000000
25%        2.000000      0.000000      0.000000       2.610000   2012.000000
50%        3.000000      0.000000      9.240000       7.790000   2013.000000
75%        5.000000      0.200000     36.810000      24.450000   2014.000000
max       14.000000      0.850000   8399.976000     933.570000   2014.000000

In [20]:
df1.dtypes[df1.dtypes=='object'].index

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'order_priority'],
      dtype='object')

In [14]:
df2=df1.dtypes==object

In [21]:
df1[df1.dtypes[df1.dtypes=='object'].index].describe()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,product_id,category,sub_category,product_name,sales,order_priority
count,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290
unique,25035,1430,1464,4,795,3,1094,147,7,13,10292,3,17,3788,2246,4
top,CA-2014-100111,6/18/2014,11/22/2014,Standard Class,Muhammed Yedwab,Consumer,California,United States,APAC,Central,OFF-AR-10003651,Office Supplies,Binders,Staples,13,Medium
freq,14,135,130,30775,108,26518,2001,9994,11002,11117,35,31273,6152,227,589,29433

In [29]:
df1[df1.dtypes[df1.dtypes=='float']]

KeyError: "None of [Index([float64, float64, float64], dtype='object')] are in the [columns]"

In [30]:
df1.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,01-01-2011,01-06-2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.0,106.140,35.46,Medium,2011
1,IN-2011-47883,01-01-2011,01-08-2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.036,9.72,Medium,2011
2,HU-2011-1220,01-01-2011,01-05-2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66,4,0.0,29.640,8.17,High,2011
3,IT-2011-3647632,01-01-2011,01-05-2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.055,4.82,High,2011
4,IN-2011-47883,01-01-2011,01-08-2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.770,4.70,Medium,2011

In [31]:
df1['category1']='sudh'

In [34]:
df1.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year',
       'category1'],
      dtype='object')

In [35]:
df1["category1"]

0        sudh
1        sudh
2        sudh
3        sudh
4        sudh
         ...
51285    sudh
51286    sudh
51287    sudh
51288    sudh
51289    sudh
Name: category1, Length: 51290, dtype: object

In [38]:
df1['order_id'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
51285    False
51286    False
51287    False
51288    False
51289    False
Name: order_id, Length: 51290, dtype: bool

In [39]:
df2=pd.read_excel(r"C:\Users\surya\Neeraj\python\Practice dataset\pandas\data fsds\Dress Sales.xlsx")

In [40]:
df2.head()

,Dress_ID,29/8/2013,31/8/2013,2013-02-09 00:00:00,2013-04-09 00:00:00,2013-06-09 00:00:00,2013-08-09 00:00:00,2013-10-09 00:00:00,2013-12-09 00:00:00,14/9/2013,...,24/9/2013,26/9/2013,28/9/2013,30/9/2013,2013-02-10 00:00:00,2013-04-10 00:00:00,2013-06-10 00:00:00,2010-08-10 00:00:00,2013-10-10 00:00:00,2013-12-10 00:00:00
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1190380701,6,7,7,7,8,8,9,10,10,...,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736

In [41]:
df2.isnull()

,Dress_ID,29/8/2013,31/8/2013,2013-02-09 00:00:00,2013-04-09 00:00:00,2013-06-09 00:00:00,2013-08-09 00:00:00,2013-10-09 00:00:00,2013-12-09 00:00:00,14/9/2013,...,24/9/2013,26/9/2013,28/9/2013,30/9/2013,2013-02-10 00:00:00,2013-04-10 00:00:00,2013-06-10 00:00:00,2010-08-10 00:00:00,2013-10-10 00:00:00,2013-12-10 00:00:00
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [42]:
df3=pd.read_csv(r"C:\Users\surya\Neeraj\python\Practice dataset\pandas\data fsds\DressSalesnew.csv")

In [44]:
df3.columns

Index(['Dress_ID', '29/8/2013', '31/8/2013', '2/9/2013', '4/9/2013',
       '6/9/2013', '8/9/2013', '10/9/2013', '12/9/2013', '14/9/2013',
       '16/9/2013', '18/9/2013', '20/9/2013', '22/9/2013', '24/9/2013',
       '26/9/2013', '28/9/2013', '30/9/2013', '2/10/2013', '4/10/2013',
       '6/10/2013', '8/10/2010', '10/10/2013', '12/10/2013', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35'],
      dtype='object')

In [46]:
df1.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1
0,AG-2011-2040,01-01-2011,01-06-2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Storage,"Tenex Lockers, Blue",408,2,0.0,106.140,35.46,Medium,2011,sudh
1,IN-2011-47883,01-01-2011,01-08-2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.036,9.72,Medium,2011,sudh
2,HU-2011-1220,01-01-2011,01-05-2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Storage,"Tenex Box, Single Width",66,4,0.0,29.640,8.17,High,2011,sudh
3,IT-2011-3647632,01-01-2011,01-05-2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.055,4.82,High,2011,sudh
4,IN-2011-47883,01-01-2011,01-08-2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.770,4.70,Medium,2011,sudh

In [52]:
df1[df1['profit']==max(df1['profit'])]['customer_name']

29530    Tamara Chand
Name: customer_name, dtype: object

In [54]:
df1[df1['shipping_cost']>80]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1
7,IN-2011-79397,01-03-2011,01-03-2011,Same Day,Kean Nguyen,Corporate,New South Wales,Australia,APAC,Oceania,...,Appliances,"Hoover Microwave, White",276,1,0.100,110.4120,125.32,Critical,2011,sudh
8,ID-2011-80230,01-03-2011,01-09-2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,Copiers,"Hewlett Wireless Fax, Laser",912,4,0.400,-319.4640,107.10,Low,2011,sudh
9,IZ-2011-4680,01-03-2011,01-07-2011,Standard Class,Lindsay Williams,Corporate,Ninawa,Iraq,EMEA,EMEA,...,Chairs,"Novimex Swivel Stool, Set of Two",667,4,0.000,253.3200,81.26,High,2011,sudh
27,MX-2011-111255,01-04-2011,01-09-2011,Second Class,Russell Applegate,Consumer,Parana,Brazil,LATAM,South,...,Bookcases,"Dania Classic Bookcase, Pine","1,648",6,0.000,609.8400,109.13,Medium,2011,sudh
43,MX-2011-109267,01-05-2011,01-09-2011,Standard Class,Jennifer Halladay,Consumer,Veracruz,Mexico,LATAM,North,...,Appliances,"Hoover Stove, Black","3,029",8,0.000,999.3600,191.20,Medium,2011,sudh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51154,IN-2014-49206,12/30/2014,01-01-2015,Second Class,Toby Ritter,Consumer,Jawa Barat,Indonesia,APAC,Southeast Asia,...,Storage,"Rogers Shelving, Wire Frame",457,9,0.170,65.9340,101.88,High,2014,sudh
51228,MX-2014-116267,12/31/2014,01-03-2015,Second Class,Erica Bern,Corporate,S?o Paulo,Brazil,LATAM,South,...,Copiers,"Canon Wireless Fax, Color","1,264",5,0.002,301.4660,253.25,High,2014,sudh
51229,IN-2014-43550,12/31/2014,01-01-2015,First Class,Marina Lichtenstein,Corporate,Jakarta,Indonesia,APAC,Southeast Asia,...,Bookcases,"Safco Library with Doors, Pine","1,091",3,0.070,46.9206,243.11,High,2014,sudh
51230,RS-2014-1460,12/31/2014,01-02-2015,Second Class,Peter B¬Åhler,Consumer,Bashkortostan,Russia,EMEA,EMEA,...,Copiers,"Hewlett Personal Copier, Laser",866,6,0.000,51.8400,138.18,High,2014,sudh
51231,IN-2014-30390,12/31/2014,01-03-2015,First Class,Justin Deggeller,Corporate,Bangkok,Thailand,APAC,Southeast Asia,...,Tables,"Lesro Training Table, Adjustable Height","1,049",9,0.570,-1195.2387,86.86,High,2014,sudh

In [56]:
df1[(df1["shipping_cost"]>100) & (df1['profit']<10)]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1
8,ID-2011-80230,01-03-2011,01-09-2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,Copiers,"Hewlett Wireless Fax, Laser",912,4,0.40,-319.464,107.10,Low,2011,sudh
257,MX-2011-146584,1/21/2011,1/27/2011,Standard Class,Hunter Lopez,Consumer,Managua,Nicaragua,LATAM,Central,...,Tables,"Chromcraft Conference Table, Fully Assembled","2,797",6,0.20,-0.072,320.38,Low,2011,sudh
451,ES-2011-1640672,02-02-2011,02-05-2011,First Class,Ken Heidel,Corporate,Saxony,Germany,EU,Central,...,Phones,"Motorola Signal Booster, Cordless",584,8,0.50,-58.560,109.14,High,2011,sudh
625,ID-2011-47575,2/15/2011,2/21/2011,Standard Class,Christopher Martinez,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,Phones,"Nokia Signal Booster, with Caller ID",921,9,0.25,-172.125,128.01,Low,2011,sudh
626,ID-2011-47575,2/15/2011,2/21/2011,Standard Class,Christopher Martinez,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,Copiers,"Brother Fax Machine, High-Speed","1,235",6,0.35,-456.174,118.63,Low,2011,sudh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50781,CA-2014-147956,12/25/2014,01-01-2015,Standard Class,Alan Hwang,Consumer,Washington,United States,US,West,...,Storage,Office Impressions Heavy Duty Welded Shelving ...,"1,004",6,0.00,0.000,121.83,Low,2014,sudh
50969,US-2014-120166,12/27/2014,12/31/2014,Standard Class,Frank Hawley,Corporate,Valle del Cauca,Colombia,LATAM,South,...,Tables,"Barricks Training Table, Rectangular",842,5,0.20,-200.080,120.11,High,2014,sudh
50970,ES-2014-4296634,12/27/2014,01-02-2015,Standard Class,Harry Marie,Corporate,Brittany,France,EU,Central,...,Appliances,"Hamilton Beach Microwave, White","1,010",4,0.10,-44.940,108.27,Low,2014,sudh
51034,ID-2014-68183,12/29/2014,12/31/2014,First Class,Adam Hart,Corporate,Victoria,Australia,APAC,Oceania,...,Appliances,"Hoover Stove, Red","1,535",3,0.10,-102.411,255.42,Medium,2014,sudh
51153,ID-2014-51509,12/30/2014,01-01-2015,Second Class,Naresj Patel,Consumer,Australian Capital Territory,Australia,APAC,Oceania,...,Chairs,"Harbour Creations Rocking Chair, Black",434,5,0.40,-166.470,124.63,Critical,2014,sudh

In [58]:
df1.dtypes

order_id           object
order_date         object
ship_date          object
ship_mode          object
customer_name      object
segment            object
state              object
country            object
market             object
region             object
product_id         object
category           object
sub_category       object
product_name       object
sales              object
quantity            int64
discount          float64
profit            float64
shipping_cost     float64
order_priority     object
year                int64
category1          object
dtype: object

In [61]:
df1["converted"]=pd.to_datetime(df1['order_date'])

In [66]:
df1[df1.columns]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1,converted
0,AG-2011-2040,01-01-2011,01-06-2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,"Tenex Lockers, Blue",408,2,0.0,106.1400,35.46,Medium,2011,sudh,2011-01-01
1,IN-2011-47883,01-01-2011,01-08-2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Acme Trimmer, High Speed",120,3,0.1,36.0360,9.72,Medium,2011,sudh,2011-01-01
2,HU-2011-1220,01-01-2011,01-05-2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,"Tenex Box, Single Width",66,4,0.0,29.6400,8.17,High,2011,sudh,2011-01-01
3,IT-2011-3647632,01-01-2011,01-05-2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,"Enermax Note Cards, Premium",45,3,0.5,-26.0550,4.82,High,2011,sudh,2011-01-01
4,IN-2011-47883,01-01-2011,01-08-2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.7700,4.70,Medium,2011,sudh,2011-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,01-04-2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014,sudh,2014-12-31
51286,MO-2014-2560,12/31/2014,01-05-2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra¬É,Morocco,Africa,Africa,...,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014,sudh,2014-12-31
51287,MX-2014-110527,12/31/2014,01-02-2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014,sudh,2014-12-31
51288,MX-2014-114783,12/31/2014,01-06-2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014,sudh,2014-12-31
51289,CA-2014-156720,12/31/2014,01-04-2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014,sudh,2014-12-31

In [68]:
df1.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1,converted
0,AG-2011-2040,01-01-2011,01-06-2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,"Tenex Lockers, Blue",408,2,0.0,106.140,35.46,Medium,2011,sudh,2011-01-01
1,IN-2011-47883,01-01-2011,01-08-2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Acme Trimmer, High Speed",120,3,0.1,36.036,9.72,Medium,2011,sudh,2011-01-01
2,HU-2011-1220,01-01-2011,01-05-2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,"Tenex Box, Single Width",66,4,0.0,29.640,8.17,High,2011,sudh,2011-01-01
3,IT-2011-3647632,01-01-2011,01-05-2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,"Enermax Note Cards, Premium",45,3,0.5,-26.055,4.82,High,2011,sudh,2011-01-01
4,IN-2011-47883,01-01-2011,01-08-2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.770,4.70,Medium,2011,sudh,2011-01-01

In [69]:
df1.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year',
       'category1', 'converted'],
      dtype='object')

In [70]:
df1["costtocompany"]=df1["discount"]+df1["shipping_cost"]

In [71]:
df1.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year',
       'category1', 'converted', 'costtocompany'],
      dtype='object')

In [76]:
df1[df1["costtocompany"]].max()

KeyError: "None of [Float64Index([             35.46,               9.82,               8.17,\n                            5.32,                4.8, 1.9000000000000001,\n                            24.1, 125.41999999999999,              107.5,\n                           81.26,\n              ...\n                            2.15, 2.2600000000000002,                1.7,\n                            1.41,               1.32,               1.09,\n                            0.49,               0.35,                0.2,\n                            0.37],\n             dtype='float64', length=51290)] are in the [columns]"

In [77]:
df1["costtocompany"]

0        35.46
1         9.82
2         8.17
3         5.32
4         4.80
         ...
51285     1.09
51286     0.49
51287     0.35
51288     0.20
51289     0.37
Name: costtocompany, Length: 51290, dtype: float64

In [78]:
df1.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1,converted,costtocompany
0,AG-2011-2040,01-01-2011,01-06-2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,408,2,0.0,106.140,35.46,Medium,2011,sudh,2011-01-01,35.46
1,IN-2011-47883,01-01-2011,01-08-2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,120,3,0.1,36.036,9.72,Medium,2011,sudh,2011-01-01,9.82
2,HU-2011-1220,01-01-2011,01-05-2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,66,4,0.0,29.640,8.17,High,2011,sudh,2011-01-01,8.17
3,IT-2011-3647632,01-01-2011,01-05-2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,45,3,0.5,-26.055,4.82,High,2011,sudh,2011-01-01,5.32
4,IN-2011-47883,01-01-2011,01-08-2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,114,5,0.1,37.770,4.70,Medium,2011,sudh,2011-01-01,4.80

In [83]:
df1.loc[0:2]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1,converted,costtocompany
0,AG-2011-2040,01-01-2011,01-06-2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,408,2,0.0,106.140,35.46,Medium,2011,sudh,2011-01-01,35.46
1,IN-2011-47883,01-01-2011,01-08-2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,120,3,0.1,36.036,9.72,Medium,2011,sudh,2011-01-01,9.82
2,HU-2011-1220,01-01-2011,01-05-2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,66,4,0.0,29.640,8.17,High,2011,sudh,2011-01-01,8.17

In [98]:
df1.iloc[2:6,3:6]

        ship_mode  customer_name      segment
2    Second Class  Annie Thurman     Consumer
3    Second Class   Eugene Moren  Home Office
4  Standard Class    Joseph Holt     Consumer
5  Standard Class    Joseph Holt     Consumer

In [97]:
df1.loc[0:4,["order_id","order_date","ship_date","ship_mode"]]

          order_id  order_date   ship_date       ship_mode
0     AG-2011-2040  01-01-2011  01-06-2011  Standard Class
1    IN-2011-47883  01-01-2011  01-08-2011  Standard Class
2     HU-2011-1220  01-01-2011  01-05-2011    Second Class
3  IT-2011-3647632  01-01-2011  01-05-2011    Second Class
4    IN-2011-47883  01-01-2011  01-08-2011  Standard Class

In [101]:
df1.dtypes

order_id                  object
order_date                object
ship_date                 object
ship_mode                 object
customer_name             object
segment                   object
state                     object
country                   object
market                    object
region                    object
product_id                object
category                  object
sub_category              object
product_name              object
sales                     object
quantity                   int64
discount                 float64
profit                   float64
shipping_cost            float64
order_priority            object
year                       int64
category1                 object
converted         datetime64[ns]
costtocompany            float64
dtype: object

In [109]:
df2=df1[df1.dtypes[(df1.dtypes=='float64') | (df1.dtypes=='int64')].index]

In [113]:
df2[df2>100]

       quantity  discount  profit  shipping_cost  year  costtocompany
0           NaN       NaN  106.14            NaN  2011            NaN
1           NaN       NaN     NaN            NaN  2011            NaN
2           NaN       NaN     NaN            NaN  2011            NaN
3           NaN       NaN     NaN            NaN  2011            NaN
4           NaN       NaN     NaN            NaN  2011            NaN
...         ...       ...     ...            ...   ...            ...
51285       NaN       NaN     NaN            NaN  2014            NaN
51286       NaN       NaN     NaN            NaN  2014            NaN
51287       NaN       NaN     NaN            NaN  2014            NaN
51288       NaN       NaN     NaN            NaN  2014            NaN
51289       NaN       NaN     NaN            NaN  2014            NaN

[51290 rows x 6 columns]

In [114]:
df2.dropna()

       quantity  discount    profit  shipping_cost  year  costtocompany
0             2       0.0  106.1400          35.46  2011          35.46
1             3       0.1   36.0360           9.72  2011           9.82
2             4       0.0   29.6400           8.17  2011           8.17
3             3       0.5  -26.0550           4.82  2011           5.32
4             5       0.1   37.7700           4.70  2011           4.80
...         ...       ...       ...            ...   ...            ...
51285         2       0.2    4.5188           0.89  2014           1.09
51286         1       0.0    0.4200           0.49  2014           0.49
51287         3       0.0   12.3600           0.35  2014           0.35
51288         1       0.0    0.5600           0.20  2014           0.20
51289         3       0.2   -0.6048           0.17  2014           0.37

[51290 rows x 6 columns]

In [116]:
df3

,Dress_ID,29/8/2013,31/8/2013,2/9/2013,4/9/2013,6/9/2013,8/9/2013,10/9/2013,12/9/2013,14/9/2013,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1190380701,6,7,7,7,8,8,9,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,0,0,0,560,554,544,537,525,519,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,722565148,0,0,0,875,866,861,854,850,844,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,532874347,0,0,0,734,728,726,715,694,690,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,655464934,0,0,0,254,259,261,263,268,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,919930954,0,0,0,538,545,558,563,578,585,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
df1["sales"]

0        408
1        120
2         66
3         45
4        114
        ...
51285     14
51286      4
51287     26
51288      7
51289      3
Name: sales, Length: 51290, dtype: object

In [121]:
int(df1["sales"])

TypeError: cannot convert the series to <class 'int'>

In [125]:
df1["sales"]=df1.sales.str.replace(",","").astype(int)

In [127]:
df1.dtypes

order_id                  object
order_date                object
ship_date                 object
ship_mode                 object
customer_name             object
segment                   object
state                     object
country                   object
market                    object
region                    object
product_id                object
category                  object
sub_category              object
product_name              object
sales                      int32
quantity                   int64
discount                 float64
profit                   float64
shipping_cost            float64
order_priority            object
year                       int64
category1                 object
converted         datetime64[ns]
costtocompany            float64
dtype: object

In [131]:
df1.groupby("order_date")["sales"].mean()

order_date
01-01-2011    134.666667
01-01-2013    390.333333
01-01-2014    150.541667
01-02-2011    314.000000
01-02-2012    357.428571
                 ...
9/29/2014     235.960526
9/30/2011     188.562500
9/30/2012     223.000000
9/30/2013     274.193548
9/30/2014     192.171429
Name: sales, Length: 1430, dtype: float64

In [129]:
df1["order_date"]

0        01-01-2011
1        01-01-2011
2        01-01-2011
3        01-01-2011
4        01-01-2011
            ...
51285    12/31/2014
51286    12/31/2014
51287    12/31/2014
51288    12/31/2014
51289    12/31/2014
Name: order_date, Length: 51290, dtype: object

In [1]:
import pandas as pd

In [2]:
pip install optuna

Collecting optuna
  Downloading optuna-3.0.3-py3-none-any.whl (348 kB)
Requirement already satisfied: numpy in c:\users\surya\anaconda3\lib\site-packages (from optuna) (1.18.5)
Requirement already satisfied: packaging>=20.0 in c:\users\surya\anaconda3\lib\site-packages (from optuna) (20.4)
Collecting cliff
  Downloading cliff-4.1.0-py3-none-any.whl (81 kB)
Collecting alembic>=1.5.0
  Downloading alembic-1.8.1-py3-none-any.whl (209 kB)
Requirement already satisfied: tqdm in c:\users\surya\anaconda3\lib\site-packages (from optuna) (4.47.0)
Collecting colorlog
  Downloading colorlog-6.7.0-py2.py3-none-any.whl (11 kB)
Collecting cmaes>=0.8.2
  Downloading cmaes-0.9.0-py3-none-any.whl (23 kB)
Requirement already satisfied: sqlalchemy>=1.3.0 in c:\users\surya\anaconda3\lib\site-packages (from optuna) (1.3.18)
Requirement already satisfied: PyYAML in c:\users\surya\anaconda3\lib\site-packages (from optuna) (5.3.1)
Requirement already satisfied: importlib-metadata<5.0.0 in c:\users\surya\anaconda3\lib\site-packages (from optuna) (1.7.0)
Collecting scipy<1.9.0,>=1.7.0
  Downloading scipy-1.8.1-cp38-cp38-win_amd64.whl (36.9 MB)
Requirement already satisfied: six in c:\users\surya\anaconda3\lib\site-packages (from packaging>=20.0->optuna) (1.15.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\surya\anaconda3\lib\site-packages (from packaging>=20.0->optuna) (2.4.7)
Collecting PrettyTable>=0.7.2
  Downloading prettytable-3.5.0-py3-none-any.whl (26 kB)
Collecting cmd2>=1.0.0
  Downloading cmd2-2.4.2-py3-none-any.whl (147 kB)
Collecting stevedore>=2.0.1
  Downloading stevedore-4.1.1-py3-none-any.whl (50 kB)
Collecting autopage>=0.4.0
  Downloading autopage-0.5.1-py3-none-any.whl (29 kB)
Collecting Mako
  Downloading Mako-1.2.4-py3-none-any.whl (78 kB)
Collecting importlib-resources; python_version < "3.9"
  Downloading importlib_resources-5.10.0-py3-none-any.whl (34 kB)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\surya\anaconda3\lib\site-packages (from colorlog->optuna) (0.4.3)
Requirement already satisfied: zipp>=0.5 in c:\users\surya\anaconda3\lib\site-packages (from importlib-metadata<5.0.0->optuna) (3.1.0)
Requirement already satisfied: wcwidth in c:\users\surya\anaconda3\lib\site-packages (from PrettyTable>=0.7.2->cliff->optuna) (0.2.5)
Requirement already satisfied: attrs>=16.3.0 in c:\users\surya\anaconda3\lib\site-packages (from cmd2>=1.0.0->cliff->optuna) (19.3.0)
Collecting pyreadline3; sys_platform == "win32"
  Downloading pyreadline3-3.4.1-py3-none-any.whl (95 kB)
Collecting pyperclip>=1.6
  Downloading pyperclip-1.8.2.tar.gz (20 kB)
Collecting pbr!=2.1.0,>=2.0.0
  Downloading pbr-5.11.0-py2.py3-none-any.whl (112 kB)
Requirement already satisfied: MarkupSafe>=0.9.2 in c:\users\surya\anaconda3\lib\site-packages (from Mako->alembic>=1.5.0->optuna) (1.1.1)
Note: you may need to restart the kernel to use updated packages.Building wheels for collected packages: pyperclip

ERROR: cliff 4.1.0 has requirement importlib-metadata>=4.4, but you'll have importlib-metadata 1.7.0 which is incompatible.
ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'C:\\Users\\surya\\anaconda3\\Lib\\site-packages\\~cipy\\fft\\_pocketfft\\pypocketfft.cp38-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

  Building wheel for pyperclip (setup.py): started
  Building wheel for pyperclip (setup.py): finished with status 'done'
  Created wheel for pyperclip: filename=pyperclip-1.8.2-py3-none-any.whl size=11113 sha256=0954ba164e7fed8bf96552570f84b3457a58f7fc593d31eb98f588dfb9b86995
  Stored in directory: c:\users\surya\appdata\local\pip\cache\wheels\7f\1a\65\84ff8c386bec21fca6d220ea1f5498a0367883a78dd5ba6122
Successfully built pyperclip
Installing collected packages: PrettyTable, pyreadline3, pyperclip, cmd2, pbr, stevedore, autopage, cliff, Mako, importlib-resources, alembic, colorlog, cmaes, scipy, optuna
  Attempting uninstall: scipy
    Found existing installation: scipy 1.5.0
    Uninstalling scipy-1.5.0:
      Successfully uninstalled scipy-1.5.0

In [3]:
pip list

Package                            Version
---------------------------------- -------------------
alabaster                          0.7.12
alembic                            1.8.1
anaconda-client                    1.7.2
anaconda-navigator                 1.9.12
anaconda-project                   0.8.3
argh                               0.26.2
asn1crypto                         1.3.0
astroid                            2.4.2
astropy                            4.0.1.post1
async-generator                    1.10
atomicwrites                       1.4.0
attrs                              19.3.0
autopage                           0.5.1
autopep8                           1.5.3
Babel                              2.8.0
backcall                           0.2.0
backports.functools-lru-cache      1.6.1
backports.shutil-get-terminal-size 1.0.0
backports.tempfile                 1.0
backports.weakref                  1.0.post1
bcrypt                             3.1.7
beautifulsoup4                     4.9.1
bitarray                           1.4.0
bkcharts                           0.2
bleach                             3.1.5
bokeh                              2.1.1
boto                               2.49.0
Bottleneck                         1.3.2
brotlipy                           0.7.0
certifi                            2022.6.15
cffi                               1.14.0
chardet                            3.0.4
click                              7.1.2
cliff                              4.1.0
cloudpickle                        1.5.0
clyent                             1.2.2
cmaes                              0.9.0
cmd2                               2.4.2
colorama                           0.4.3
colorlog                           6.7.0
colorlover                         0.3.0
comtypes                           1.1.7
conda                              4.8.3
conda-build                        3.18.11
conda-package-handling             1.7.0
conda-verify                       3.4.2
contextlib2                        0.6.0.post1
cryptography                       2.9.2
cufflinks                          0.17.3
cycler                             0.10.0
Cython                             0.29.21
cytoolz                            0.10.1
dask                               2.20.0
decorator                          4.4.2
defusedxml                         0.6.0
diff-match-patch                   20200713
distributed                        2.20.0
docutils                           0.16
entrypoints                        0.3
et-xmlfile                         1.0.1
fastcache                          1.1.0
filelock                           3.0.12
flake8                             3.8.3
Flask                              1.1.2
fsspec                             0.7.4
future                             0.18.2
gevent                             20.6.2
glob2                              0.7
gmpy2                              2.0.8
greenlet                           0.4.16
h11                                0.13.0
h5py                               2.10.0
HeapDict                           1.0.1
html5lib                           1.1
idna                               2.10
imageio                            2.9.0
imagesize                          1.2.0
importlib-metadata                 1.7.0
importlib-resources                5.10.0
intervaltree                       3.0.2
ipykernel                          5.3.2
ipython                            7.16.1
ipython-genutils                   0.2.0
ipywidgets                         7.5.1
isort                              4.3.21
itsdangerous                       1.1.0
jdcal                              1.4.1
jedi                               0.17.1
Jinja2                             2.11.2
joblib                             0.16.0
json5                              0.9.5
jsonschema                         3.2.0
jupyter                            1.0.0
jupyter-client                     6.1.6
jupyter-console                    6.1.0
jupyter-core                       4.6.3
jupyterlab                         2.1.5
jupyterlab-server                  1.2.0
keyring                            21.2.1
kiwisolver                         1.2.0
lazy-object-proxy                  1.4.3
libarchive-c                       2.9
llvmlite                           0.33.0+1.g022ab0f
locket                             0.2.0
lxml                               4.5.2
Mako                               1.2.4
MarkupSafe                         1.1.1
matplotlib                         3.2.2
mccabe                             0.6.1
menuinst                           1.4.16
mistune                            0.8.4
mkl-fft                            1.1.0
mkl-random                         1.1.1
mkl-service                        2.3.0
mock                               4.0.2
more-itertools                     8.4.0
mpmath                             1.1.0
msgpack                            1.0.0
multipledispatch                   0.6.0
navigator-updater                  0.2.1
nbconvert                          5.6.1
nbformat                           5.0.7
networkx                           2.4
nltk                               3.5
nose                               1.3.7
notebook                           6.0.3
numba                              0.50.1
numexpr                            2.7.1
numpy                              1.18.5
numpydoc                           1.1.0
olefile                            0.46
opencv-python                      4.5.5.64
openpyxl                           3.0.4
outcome                            1.2.0
packaging                          20.4
pandas                             1.0.5
pandocfilters                      1.4.2
paramiko                           2.7.1
parso                              0.7.0
partd                              1.1.0
path                               13.1.0
pathlib2                           2.3.5
pathtools                          0.1.2
patsy                              0.5.1
pbr                                5.11.0
pep8                               1.7.1
pexpect                            4.8.0
pickleshare                        0.7.5
Pillow                             7.2.0
pip                                20.1.1
pkginfo                            1.5.0.1
plotly                             5.10.0
pluggy                             0.13.1
ply                                3.11
prettytable                        3.5.0
prometheus-client                  0.8.0
prompt-toolkit                     3.0.5
psutil                             5.7.0
py                                 1.9.0
pycodestyle                        2.6.0
pycosat                            0.6.3
pycparser                          2.20
pycurl                             7.43.0.5
pydocstyle                         5.0.2
pyflakes                           2.2.0
Pygments                           2.6.1
pylint                             2.5.3
PyNaCl                             1.4.0
pyodbc                             4.0.0-unsupported
pyOpenSSL                          19.1.0
pyparsing                          2.4.7
pyperclip                          1.8.2
pyreadline                         2.1
pyreadline3                        3.4.1
pyrsistent                         0.16.0
PySocks                            1.7.1
pytest                             5.4.3
python-dateutil                    2.8.1
python-jsonrpc-server              0.3.4
python-language-server             0.34.1
pytz                               2020.1
PyWavelets                         1.1.1
pywin32                            227
pywin32-ctypes                     0.2.0
pywinpty                           0.5.7
PyYAML                             5.3.1
pyzmq                              19.0.1
QDarkStyle                         2.8.1
QtAwesome                          0.7.2
qtconsole                          4.7.5
Note: you may need to restart the kernel to use updated packages.QtPy                               1.9.0
regex                              2020.6.8

requests                           2.24.0
rope                               0.17.0
Rtree                              0.9.4
ruamel-yaml                        0.15.87
scikit-image                       0.16.2
scikit-learn                       0.23.1
scipy                              1.8.1
seaborn                            0.10.1
selenium                           4.4.3
Send2Trash                         1.5.0
setuptools                         49.2.0.post20200714
simplegeneric                      0.8.1
singledispatch                     3.4.0.3
sip                                4.19.13
six                                1.15.0
sniffio                            1.2.0
snowballstemmer                    2.0.0
sortedcollections                  1.2.1
sortedcontainers                   2.2.2
soupsieve                          2.0.1
Sphinx                             3.1.2
sphinxcontrib-applehelp            1.0.2
sphinxcontrib-devhelp              1.0.2
sphinxcontrib-htmlhelp             1.0.3
sphinxcontrib-jsmath               1.0.1
sphinxcontrib-qthelp               1.0.3
sphinxcontrib-serializinghtml      1.1.4
sphinxcontrib-websupport           1.2.3
spyder                             4.1.4
spyder-kernels                     1.9.2
SQLAlchemy                         1.3.18
statsmodels                        0.11.1
stevedore                          4.1.1
sympy                              1.6.1
tables                             3.6.1
tblib                              1.6.0
tenacity                           8.0.1
terminado                          0.8.3
testpath                           0.4.4
threadpoolctl                      2.1.0
toml                               0.10.1
toolz                              0.10.0
tornado                            6.0.4
tqdm                               4.47.0
traitlets                          4.3.3
trio                               0.21.0
trio-websocket                     0.9.2
typing-extensions                  3.7.4.2
ujson                              1.35
unicodecsv                         0.14.1
urllib3                            1.26.12
watchdog                           0.10.3
wcwidth                            0.2.5
webencodings                       0.5.1
Werkzeug                           1.0.1
wheel                              0.34.2
widgetsnbextension                 3.5.1
win-inet-pton                      1.1.0
win-unicode-console                0.5
wincertstore                       0.2
wrapt                              1.11.2
wsproto                            1.2.0
xgboost                            1.7.1
xlrd                               1.2.0
XlsxWriter                         1.2.9
xlwings                            0.19.5
xlwt                               1.3.0
xmltodict                          0.12.0
yapf                               0.30.0
zict                               2.0.0
zipp                               3.1.0
zope.event                         4.4
zope.interface                     4.7.1

In [1]:
a=[2,3,"Neeraj"]
b=(5,6,"Mikki")

In [2]:
a[0]

2

In [3]:
a[0]=1

In [4]:
a

[1, 3, 'Neeraj']

In [5]:
b[0]

5

In [6]:
b[0]=0

TypeError: 'tuple' object does not support item assignment

In [1]:
a=3
b=4

In [2]:
a+b

7

In [2]:
a="neerajmeeki"
[a.count(i) for i in a]

[1, 4, 4, 1, 1, 1, 1, 4, 4, 1, 1]

In [1]:
list1 = [2,4,5,'r',7,8,12]

list2 = [3,6,9,'t',2,1,6]

print(list1[2:-1]+ list2[2:-1])

[5, 'r', 7, 8, 9, 't', 2, 1]

In [14]:
list1 = [2,4,5,'r',7,8,12,13]
print(list1[1:-2])

[4, 5, 'r', 7, 8]

In [15]:
print(list1[1:5])

[4, 5, 'r', 7]

In [16]:
print(list1[1:-1])

[4, 5, 'r', 7, 8, 12]

In [5]:
def check(a):
    a=a+2
    a=a*2
    return(a)

In [6]:
check(2)

8

In [14]:
i=1
while True:
    i%3==0
    break
i+=1
print(i)

2

In [1]:
i = 1
while True:
    if i%3 == 0:
        break
    print(i)
    i+= 1

1
2

In [3]:
i = 1
while True:
    if (i % 3) == 0:
        break
    print(i)
    i += 1

1
2

In [4]:
if 5 > 2:
    print("Five is greater than two!") 
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [5]:
"""Hi 
this is comment
in python
"""

'Hi \nthis is comment\nin python\n'

In [8]:
'''hi
This is comment
for multiline we use it
'''

'hi\nThis is comment\nfor multiline we use it\n'

In [10]:
print("My Name is neeraj \n I m learning python")

My Name is neeraj
 I m learning python

In [7]:
### Multi line
comment
dfd###

NameError: name 'comment' is not defined

In [11]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [12]:
x=3
type(x)

int

In [13]:
y=2.5
type(y)

float

In [14]:
y=2
type(y)

int

In [15]:
y="neeraj"
type(y)

str

In [16]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [17]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [18]:
x

'apple'

In [19]:
y

'banana'

In [20]:
z

'cherry'

In [21]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [22]:
x="Neeraj"
Y="Mikki"
print(x,y)

Neeraj is

In [23]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [24]:
x = 5
y = 10
print(x + y)

15

In [25]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
x = 5
y = "John"
print(x, y)

5 John

In [27]:
x = "awesome"

def myfunc():
    print("Python is " + x)

myfunc()

Python is awesome

In [39]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [42]:
list1={22,35,51}
list1.add((5,1))

In [43]:
type(list1)

set

In [44]:
list1

{(5, 1), 22, 35, 51}

In [51]:
list1.add(50)

In [52]:
list1

{(5, 1), 22, 35, 50, 51}

In [54]:
list1={1,2,90,45}

In [55]:
list2={3,4,5,9}

TypeError: unhashable type: 'set'

In [34]:
x="awesome"
def myfunc():
    print("python is " + x)

In [37]:
myfunc()

python is awesome

In [11]:
a=10%2

In [12]:
a

0

In [17]:
a=16**0.5

In [18]:
a

4.0

In [1]:
a=range(1,10)

In [21]:
for i in a :
    print (i)

1
2
3
4
5
6
7
8
9

In [22]:
[i for i in a if i%2==0]

[2, 4, 6, 8]

In [6]:
def solve(a):
    a=[1,3,5]
    a=[2,4,6,8]
print(a)
solve(a)
print(a)

[2, 4, 6, 8]
[2, 4, 6, 8]

In [2]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

Python is fantastic

In [6]:
x = "awesome"

def myfunc():
  
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is awesome

In [8]:
x = {"apple", "banana", "cherry"}
x[0]

TypeError: 'set' object is not subscriptable

In [9]:
x

{'apple', 'banana', 'cherry'}

In [11]:
for i in x:
    print(i)

apple
cherry
banana

In [13]:
x[0]

TypeError: 'set' object is not subscriptable

In [15]:
x="djkfdfd"
x[0]

'd'

In [16]:
li = ['a']
li.extend("code")
print(li)

['a', 'c', 'o', 'd', 'e']

In [17]:
li = ['a']
li.append("code")
print(li)

['a', 'code']

In [18]:
a=[]
a.extend("Neeraj")
print(a)

['N', 'e', 'e', 'r', 'a', 'j']

In [45]:
a="Neeeraj"
for i in a:
    print(i)

N
e
e
e
r
a
j

In [25]:
{i:count(i) for i in a}

NameError: name 'count' is not defined

In [26]:
[i for i in a]

['N', 'e', 'e', 'r', 'a', 'j']

In [46]:
{i:a.count(i) for i in a}

{'N': 1, 'e': 3, 'r': 1, 'a': 1, 'j': 1}

In [39]:
a="Neeraj"
for i in a:
    print(i.count("e"))

0
1
1
0
0
0

In [51]:
a.count("e")

3

In [56]:
{i:a.count(i) for i in a}

{'N': 1, 'e': 3, 'r': 1, 'a': 1, 'j': 1}

In [1]:
i = 1
while True:
    if i%3 == 0:
        break
    print(i)
    i+=1

1
2

In [5]:
i=4
while i>0:
    if i%3==0:
        break
    print(i)
    i+=1

4
5

In [14]:
i=4
while i%3==0:
    break
print(i)
i+=1

IndentationError: unexpected indent (2492267401.py, line 5)

In [20]:
i=1
while i>0:
    if i%3==0:
        break
    print(i)
    i+=1

1
2

In [ ]:
2**(3**2)
(2**3)**2
2**3**2

In [1]:
2**(3**2)

512

In [2]:
(2**3)**2

64

In [3]:
2**3**2

512

In [1]:
x=3 and 4
print(x)

4

In [2]:
x=4 and 5
print(x)

5

In [3]:
x=3 or 4
print(x)

3

In [4]:
x= 3and 4

In [5]:
print(x)

4

In [6]:
def add(a,b):
    result=a+b
    return result

In [7]:
add(3,4)

7

In [4]:
s = "stalwart"
print(s.partition("r"))

('stalwa', 'r', 't')

In [1]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
li2 = []
li2.extend(['code'])
print(li2)

['code']

In [6]:
li=[]
li.append("code")
print(li)
  
        and if row==1 and (col==0 and col==4) and if row==2 and if row==3 and (col==0 and col==4) and if row ==4 and (col==0 and col==4)
            print('*')

['code']

In [40]:
for row in range(5):
    for col in range(5):
        if ((col==0 or col==4) and row!=0) or ((col!=0 or col!=4) and (row==0 or row==2)):
            print("*",end=" ")
        else:
            print(" ")

* * * * * *


* * * * * * *


* *


*

In [53]:
for row in range(5):
    for col in range(5):
        if ((col==0 or col==4) and row!=0):
            print("*")
        elif ((col!=0 or col!=4) and (row==0 or row==2)):
            print("*")
        else:
            print("")

*
*
*
*
*
*



*
*
*
*
*
*
*



*
*



*

In [38]:
for row in range(5):
    for col in range(5):
        if (((col==0 or col==4) and row!=0) or ((row==0 or row==2) and (col>0 and col<4))):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*   *
*****
*   *
*   *

for row in range(5):
    for col in range(5):
        if ((col==0 or col==4) and row!=0):
            print("*",end="")
        else:
            print(end=" ")
    print()

In [76]:
print("hello",end=" ");print("world")

hello world

for row in range(5):
    for col in range(5):
        if (((col==0 or col==4) and row!=2) or ((row==0 or row==2) and (col>0 or col<4))):
            print("*",end="")
        else:
        
            print(end=" ")
    print()

# dfdafds

In [39]:
for row in range (5):
    for  col in range (5):
        if (((col==0 or col==4) and row!=0) or ((row==0 or row==2) and (col>0 or col<4))):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*   *
*****
*   *
*   *

In [32]:
for row in range (5):
    for  col in range (5):
        if (col==0 or col==4):
            print("*",end="")
        else:
            print(end=" ")
    print()

*   *
*   *
*   *
*   *
*   *

In [43]:
print("*",end="");print("*")

**

In [65]:
for row in range(5):
    for col in range(4):
        if ((col==0) or ((row==0 or row==4) and col!=0)):
            print("*",end="")
        else:
            print(end="")
    print()

****
*
*
*
****

In [88]:
for row in range(5):
    for col in range(5):
        if ((row==0 or row==3) and col!=4) or ((row==1 or row==2) and (col!=1 and col!=2 and col!=3)):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * *
*       *
*       *
* * * *

In [99]:
for row in range(7):
    for col in range(7):
        if ((row==0 or row==6) and col==3) or ((row==1 or row==5) and (col==2 or col==4)) or ((row==2 or row==4) and (col==1 or col==5)) or (row==3 and (col==0 or col==6)):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

      *
    *   *
  *       *
*           *
  *       *
    *   *
      *

In [100]:
rows = int(input("Enter number of rows:"))
space = 2 * rows - 2
for i in range(0, rows):
    for j in range(0, space):
        print(end=" ")
    space = space - 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("")

space = rows - 2

for i in range(rows, -1, -1):
    for j in range(space, 0, -1):
        print(end=" ")
    space = space + 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("")

Enter number of rows:4
      *
     * *
    * * *
   * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [102]:
a=int(input("enter a no."))

enter a no.3

In [104]:

a=int(input("enter a  no."))

enter a  no.4

In [109]:
a=0
b=1
b=b+a
print(b)

1

In [117]:
a=0
b=1
for i in range(15):
    a,b=b,b+a
    print(b)

1
2
3
5
8
13
21
34
55
89
144
233
377
610
987

In [124]:
a=0
b=1
sum=0
while b<100:
    a,b=b,a+b
    print("0",end="\n"a)

SyntaxError: invalid syntax (3221780504.py, line 5)

In [137]:
a=0
b=1
sum=0

for i in range (10):
    print(a,end=" ")
    c=a+b
    a=b
    b=c
    sum=sum+a
print("\n The sum of fabonicci  series is %s"%sum)

0 1 1 2 3 5 8 13 21 34
 The sum of fabonicci  series is 143

In [153]:
def pypart(n):
      
    # outer loop to handle number of rows
    # n in this case
    for i in range(0, n):
      
        # inner loop to handle number of columns
        # values changing acc. to outer loop
        for j in range(0, i+1):
          
            # printing stars
            print("* ",end="")
       
        # ending line after each row
        print("\r")
  
# Driver Code
n = 5
pypart(n)

*
* *
* * *
* * * *
* * * * *

In [204]:
def pattern(n):
    for i in range(0,n):
        for j in range (0,i+1):
            print("*",end=" ")
        print()

In [216]:
pattern(7)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [260]:
def pattern(n):
    for i in range(0,n):
        for j in range (0,n-i):
            print("*",end=" ")
        print()

In [261]:
pattern(5)

* * * * *
* * * *
* * *
* *
*

In [215]:
for row in range(5):
    for col in range(5):
        if  col==0 or row==4 or (col==1 and row!=0) or (col==2 and (row!=0 and row!=1)) or (col==3 and (row==3 or row==4)):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [154]:
string = 'My website is Latracal \r\nSolution'
print(string)

string = 'My website is Latracal \n\rSolution'
print(string)
string = 'My web\nsite is Latracal \rSolution'

print(string)

My website is Latracal
Solution
My website is Latracal
Solution
My web
Solution

In [157]:
string1 = 'My website is Latracal \nSolution'
print(string1)

string2 = 'My website is Latracal \nSolution'
print(string2)
string3 = 'My web\nsite is Latracal \rSolution'

print(string3)

My website is Latracal
Solution
My website is Latracal
Solution
My web
Solution

In [245]:
def fab(n):
    for i in range(n):
        for j in range(0,n+1):
            print("*",end="")

In [250]:
range(3)

range(0, 3)

In [251]:
print((range(3)))

range(0, 3)

In [257]:
for i in range(0):
    print(i)

In [11]:
n=int(input("enter a no."))
for i in range (n):
    for j in range (0,n-i):
        print("*",end=" ")
    print()

enter a no.5
* * * * *
* * * *
* * *
* *
*

In [13]:
n=int(input("enter a no."))
for i in range (n):
    for j in range (i):
        print("*",end=" ")
    print()

enter a no.4

*
* *
* * *

In [20]:
for i in range(6):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [21]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [13]:
for i in range(5):
    for j in range(i):
        print("*",end=" ")
    
    print()

*
* *
* * *
* * * *

In [27]:
for row in range(4):
    for col in range(7):
        if row==3 or (row==2 and (col==1 or col==6)) or (row==1 and (col==2 or col==4)) or (row==0 and col==3):
            print("*",end=" ")
        else:
            print(end=" ")
    print()

   *
  *  *
 *     *
* * * * * * *

In [39]:
n=int(input("enter no. of pyramid rows"))
for i in range(n):
    for j in range(0,n-i-1):
        print(end=" ")
    for k in  range(0,i+1):
        print("*",end=" ")
    print()

enter no. of pyramid rows5
    *
   * *
  * * *
 * * * *
* * * * *

In [40]:
for i in range(0,-1):
    print(i)

In [41]:
l=[1,2,3,4]

In [53]:
for i in l:
    if(i==4):#if continue is in least os for loop will not complete and else block will not execute
        break
    print(i)
else:
        print("This block will execute only when the for loop execute completely")

1
2
3

In [54]:
len(l)

4

In [57]:
for i in l:

print(i)

1
2
3
4

In [59]:
sum=0
for i in range(4):
    sum=i+sum
print(sum)

6

In [69]:
mul=1
for i in range(6):
    mul=mul*(i+1)
print(mul)

720

In [71]:
a="neerajpankaj"
{i:a.count(i) for i in a}

{'n': 2, 'e': 2, 'r': 1, 'a': 3, 'j': 2, 'p': 1, 'k': 1}

In [73]:
[i for a in a.count(i)]

TypeError: must be str, not int

In [80]:
[i for a.count(i)]

SyntaxError: cannot assign to function call (2825823799.py, line 1)

In [81]:
[a.count(i) for i in a]

[2, 2, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2]

In [96]:
for row in range(6):
    for col in range(5):
        if (row==0 and (col==1 or col==3)) or (row==1 and (col!=1 and col!=3)) or (row==2 and (col==0 or col==4)) or (row==3 and col==2):
            print("*",end="")
        else:
            print(" ",end="")
    print()

 * *
* * *
*   *
  *

In [95]:
for row in range(6):  
    for col in range(7):  
        if (row==0 and col %3 !=0)or(row==1 and col %3==0) or(row-col==2) or(row+col==8):  
            print("*",end="")  
        else:  
            print(end=" ")  
    print()

 ** **
*  *  *
*     *
 *   *
  * *
   *

In [99]:
l= [1,2,3,4,5,"sudh", 234.45]

for i in l:
    if type(i)== int:
        print(i+5)
    elif type(i)==float:
            print(i+10)
    elif type(i)==str:
        print(l.replace("ineuron"))

6
7
8
9
10

AttributeError: 'list' object has no attribute 'replace'

In [106]:
import numpy as np
 
# print the list of 10 integers from 3  to 7
print(list(np.random.randint(low = 3,high=8,size=10)))
 
# print the list of 5 integers from 0 to 2
# if high parameter is not passed during
# function call then results are from [0, low)
print(list(np.random.randint(low = 3,size=5)))/

SyntaxError: invalid syntax (2570315337.py, line 9)

In [107]:
import numpy as np

In [108]:
a=np.random.randint(low=5,high=100,size=6)

In [109]:
print(a)

[86 41  6 98 15 11]

In [113]:
counter=0
for val in a:
    print(counter,val)
    counter+=1

0 86
1 41
2 6
3 98
4 15
5 11

In [114]:
for i in range(len(a)):
    print (i,a[i])

0 86
1 41
2 6
3 98
4 15
5 11

In [115]:
for i, val in enumerate(a):
    print(i,val)

0 86
1 41
2 6
3 98
4 15
5 11

In [117]:
b=np.random.randint(low=56,high=78,size=4)

In [118]:
b

array([62, 71, 59, 61])

In [119]:
print(b)

[62 71 59 61]

In [120]:
b[0]

62

In [122]:
for i,value in enumerate(b):
    print(i,value)

0 62
1 71
2 59
3 61

In [1]:
import numpy as np

In [2]:
z=np.random.randint(low=50,high=60,size=5)

In [3]:
print(z)

[59 52 55 59 54]

In [4]:
for i, value in enumerate(z):
    print(i,value)

0 59
1 52
2 55
3 59
4 54

In [5]:
for i in enumerate(z):
    print(i)

(0, 59)
(1, 52)
(2, 55)
(3, 59)
(4, 54)

In [6]:
z=np.random.randint(low=100,high=200,size=3)

In [7]:
z

array([191, 169, 154])

In [8]:
print(z)

[191 169 154]

In [9]:
z[0]

191

In [10]:
z[1]

169

In [11]:
for  i in enumerate(z):
    print(i)

(0, 191)
(1, 169)
(2, 154)

In [12]:
for i , val in enumerate(z):
    print(i,val)

0 191
1 169
2 154